src/runconfig.js

# See https://help.github.com/ignore-files/ for more about ignoring files.


# dependencies
/node_modules

# testing
/coverage

# production
/build
/static-personal-website

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# because I'm new to React
react-help.md

