<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <title>Veggiebob's Webpage</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>🚧🚧 This is my website under construction 🚧🚧</h2>
        <p>
            The source for this webserver is available at 🦀 <a href="https://github.com/veggiebob/personal-webserver">my github</a> 🚀
            <br>

            <br>
            You can also find the website itself at <a href="https://github.com/veggiebob/hosted-website">my github.</a>
        </p>
        <a href="parse-demo.html" class="img-link">
            <img src="terminal-template.png" id="terminal-button" alt="terminal-template">
        </a>
        <a href="hose.html" class="img-link"><img src="gym-hoes.png" id="gym-data"></a>
        <br>
        Do you want to <a href="send-message.html">send a message</a> to the server?
    </body>
    <script src="main.js"></script>
    <style>
        @import "dark-theme.css";
        #gym-data {
            /* thick border with rounded corners */
            border: 5px solid #ccc;
            border-radius: 5px;
            width: 150px;
            height: 150px;
        }
        #terminal-button {
            width: 150px;
            height: 150px;
            border: none
        }
    </style>
</html>