@import "dark-theme.css";
#parse-input {
    /* no background */
    background-color: transparent;
    /* no border */
    border: none;
    /* faint outline */
    outline: 1px solid #ccc;
    /* white placeholder text */
    color: #ccc;
    /* large size */
    font-size: 20px;
}
#terminal-prefix {
    color: lime;
    font-size: 20px;
    /* bold */
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 3px;
    margin-right: 5px;
    float: left;
}
.code-block {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #555;
    color: #fff;
    padding: 5px;
}